body {
  padding: 20px;
  background-color: #f5f5f5;
}
input {
  border:2px solid grey;
  margin: 20px;
}
span.tags {
  font-style: italic;
  font-size: 12px;
}
span.author {
  font-weight: bold;
  font-size: 13px;
  overflow: hidden;
}
img {
  display: block;
  margin: auto;
}
div.image-container {
  height: 100px;
  overflow: hidden;
  display: block;
}
div.desc {
  font-size: 12px;
  height: 40px;
  width: 150px;
}
div.thumbnail {
  float: left;
  width: 22%;
  height: auto;
  padding: 20px;
  margin-bottom: 30px;
}
a {
  display: block;
  max-width: 100px;
}
div.tooltip {
  position: absolute;
  word-wrap: break-word;
  max-width: 300px;
  background: lightgray;
  border-radius: 3px;
  line-height: 1.4em;
  padding: 10px;
  z-index: 0;
  text-align: left;
  color: #555;
  margin-top:-38px;
}
